<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperPriceWatchdog &dash; Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors.css') }}">
  </head>
  <body>
    <h1 class="error-404">404</h1>
    <h2>Oops! Page Not Found</h2>
    <p>The page you are looking for does not exist or has been moved.</p>
    <p><a href="/">Return to Homepage</a></p>
  </body>
</html>
