<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>SuperPriceWatchdog</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐶</text></svg>">
    <style>
      body {
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        margin: 0;
        padding: 0;
      }
      iframe {
        border: none;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <iframe src="https://jack-cky.github.io/SuperPriceWatchdog/"></iframe>
  </body>
</html>
